@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
html {
    scroll-behavior: smooth;
    cursor: default;
    user-select: none;

}

body {
    padding: 0;
    margin: 0;
    font-family: 'Press Start 2P', sans-serif;
    color: #FFFFFF;
    width: 100%;
    background-color: teal;

}



.transition-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
    z-index: 9997; /* Ensure the image is on top */
    pointer-events: none; /* Make sure the image doesn't block interactions */
}

html.is-animating .transition-video {
    opacity: 1;
}

/*.ciel{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
    pointer-events: none;
    margin: 0;
    padding: 0;
    

}*/

.buttons {

    padding: 0;
    margin: 0; 
    width: 100%;
    height: 8%;
    position: fixed;
    bottom: 0; 
    z-index: 9999;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.power_button{

    padding: 0;
    margin: 0;
    padding-top: 1%;
    width:auto;
    height: 5%;
    position: fixed;
    left: 2%;
    cursor: pointer;
}

.source_button{
    padding-top: 1.5%;

    
    margin: 0;
    width:auto;
    height: 3%;
    position: fixed;
    right: 2%;
    cursor: pointer;
}

.logo_myos{

    padding: 0;
    margin: 0;
    padding-top: 1.5%;
    width:auto;
    height:6%;
    position: fixed;
    
}

.tele2{
    
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9998;
    pointer-events: none;

}

.tele{
    object-fit: cover;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9997;
    pointer-events: none;
    opacity: 100%;
}

.transparent-video{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: 9996;
    pointer-events: none;
    margin: 0;
    padding: 0;
    opacity: 5%;
}

#start {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    pointer-events: none;
    z-index: 2;
}

.start.hidden {
    display: none;
}

#end {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    pointer-events: none;
    z-index: 2;
}

.end.hidden {
    display: none;
}


h1{

    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 5vh;
    white-space: nowrap;
    max-height: 10%;
    min-height: 10%;
    display: flex;
    text-shadow: 3px 3px 4px #21285d,0 0 16px rgba(191,191,191,.56);
}

header {

    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    z-index: 9995;
    gap: 5%;
}

a {
    font-style: normal;
    text-decoration: none;
}

header * {
    padding: 0;
    margin: 0;
    margin-top: 20vh;
    transition-duration: 250ms;
    text-shadow: 3px 3px 4px #21285d,0 0 16px rgba(191,191,191,.56);
}

a{
    color: #FFFFFF;
    font-size: 1.5vh;
    white-space: nowrap;
    max-height: 10%;
    min-height: 10%;
    text-shadow: 3px 3px 4px #21285d,0 0 16px rgba(191,191,191,.56);
}



footer {
    background-color: transparent;
    top: 80%;
    padding: 10px;
    max-height: 10%;
    min-height: 10%;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 0; 
    white-space: nowrap;
}

.start_menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 10vh;
    white-space: nowrap;
    max-height: 10%;
    min-height: 10%;
    display: flex;
}

.start_menu a {
    text-decoration: none;
    color: #FFFFFF; 
    padding: 10px 20px;
    margin: 5px 0;
    text-align: center;
    
}
.screen {
    width:86vw;               /* Largeur de 60% de la largeur de la fenêtre */
    height: 77vh;              /* Hauteur de 40% de la hauteur de la fenêtre */
    margin: 0 auto;            /* Centre la div horizontalement */
    position: absolute;        /* Permet de la positionner précisément */
    top: 46%;                  /* Positionne la div au centre verticalement */
    left: 50.5%;                 /* Positionne la div au centre horizontalement */
    transform: translate(-50%, -50%);  /* Ajuste la div pour qu'elle soit parfaitement centrée */
    overflow: hidden;            /* Si le contenu dépasse, ajoute des barres de défilement */
    cursor: url('../img/Cursor101.png'), pointer;
}



.menu_item {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  /* Centrer l'image et le texte */
    margin: 5px 0;
    width: 8vw;   /* Largeur réactive en fonction de la largeur de la fenêtre */
    height: 8vh;  /* Hauteur réactive en fonction de la hauteur de la fenêtre */

    padding: 5px;
    box-sizing: border-box; /* Inclut le padding dans la taille totale */
    
}

.menu_item a {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  /* Centrer l'image et le texte dans le lien */
    width: 100%;
    height: 100%;  /* S'assure que le lien prend toute la taille du parent */
    color: inherit;
    text-decoration: none;
    font-size: 0.5vw;  /* Ajuste la taille de la police en fonction de la largeur de la fenêtre */
    pointer-events: none;
}

.menu_item img {
    width: 4vw; /* 20% de la largeur de la fenêtre */
    height: auto; /* Garde le ratio de l'image */
    object-fit: contain;  /* L'image s'adapte sans déformation */
    margin-bottom: 1vh;
    pointer-events: none;
}

.inner_folder .menu_item{
    position: static;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    flex-direction: column;
    width: 22%; /* La largeur du dossier */
    height: 30%; /* La hauteur du dossier */
    text-align: center; 
    border: 1px solid rgba(96, 96, 96, 0.473); 
    border-radius: 5px; 
    flex-shrink: 0; 
    cursor: pointer; /* Indique que c'est cliquable */
    padding: 0;
    margin: 0;
}

.inner_folder .menu_item img{
    height: 60%; /* L'image prend 70% de la hauteur de .folder */
    width: auto; /* La largeur s'ajuste automatiquement en gardant les proportions */
    margin: 5%; /* Espacement entre l'image et le texte */
    pointer-events: none;
}

.inner_folder .menu_item a{
    font-size: clamp(0.1vw, 0.6vw, 0.75vw);
    width: 80%;
    line-height: 1; /* Ajuste l'interligne pour bien centrer */
    text-align: center; /* Centre le texte dans sa zone */
    margin: 0; 
    
    overflow: hidden; /* Cache le texte si débordement */
    text-overflow: clip; /* Ajoute "..." si le texte est trop long */
    white-space: normal; /* Empêche de passer à la ligne */
    pointer-events: none;
}




.tv_off{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
    pointer-events: none;
    margin: 0;
    padding: 0;
    background-color: black;
}


.landing-start {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 15%;
    left: 0;
    height: 100vh; /* 100% de la hauteur de la vue */
    width: 100vw; /* 100% de la largeur de la vue */
}

.landing-start-container {
    text-align: center;
}

.landing-start-text {
    margin: 0;
}

.landing-start-arrow {
    font-size: 4vh;
    margin-right: 10px;
    text-shadow: 3px 3px 4px #21285d,0 0 16px rgba(191,191,191,.56);
    animation: blinker 1s linear infinite;
}

.start_button {
    border: 0;
    padding: 0;
    background: none;
    font-size: 100%;
    font-family: inherit;
    color: inherit;
    font: inherit;
    cursor: pointer;
    text-shadow: 3px 3px 4px #21285d,0 0 16px rgba(191,191,191,.56);
    
}

.landing-return-arrow {
    margin: 0;
    left: 15%;
    font-size: 4vh;
    position: absolute;
    text-shadow: 3px 3px 4px #21285d,0 0 16px rgba(191,191,191,.56);
}

.landing-return-arrow:hover {

    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50%{
        opacity: 0;
    }
}

.rectangular-bar {
    position: fixed;          /* Fixe l'élément à une position spécifique sur l'écran */
    bottom: 0vh;             /* Place la div à 15vh du bas de l'écran */
    left: 0;                  /* Commence à la bordure gauche de l'écran */
    width: 100%;              /* Prend 100% de la largeur de l'écran */
    height: 3vw;             /* Hauteur de la div (par exemple, 10vh pour qu'elle soit bien visible) */
    background-color: #C0C0C0; /* Exemple de couleur de fond (bleu) */
    border-top: 0.3vh solid #FFFFFF ;
    z-index: 1;
    justify-content: center;
    align-items: center;
}
.rectangular-bar {
    display: flex;
    gap: 0.5vw; 
  }
  
  .start-menu {
    width: 3vw;
    height: 3vw; /* Hauteur égale à la largeur */
    background-image: url('../img/world-4.png'); /* Chemin de l'image */
    background-size: cover; /* Ajuste la taille de l'image pour couvrir toute la zone */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    background-position: center; /* Centre l'image dans la zone */
    
    margin-top: 0.2vh;
}

.application, .shortcut {
    width: 3vw;
    height: 3vw; /* Hauteur égale à la largeur */
    margin-top: 0.2vh;
    margin-left: 15px;
    cursor: pointer;
    
    z-index: 1;
}



  #file_explorer_main{
    
    background-image: url('../img/directory.png'); /* Chemin de l'image */
    background-size: cover; /* Ajuste la taille de l'image pour couvrir toute la zone */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    background-position: center; /* Centre l'image dans la zone */
  }
  
  /* Styles pour la div carrée */
  .new-square {

    position: relative; /* Permet de positionner l'élément indépendamment des autres */
    top: 50%; /* Centrage vertical */
    left: 50%; /* Centrage horizontal */
    margin-top: 0; /* Plus besoin de margin-top */
    transition: all 0.05s ease; /* Gère les animations si nécessaire */
    background-color: #C0C0C0; /* Exemple : pour tester */
    z-index: 1;
    border-top-right-radius: 1vw;
    border-top-left-radius: 1vw;
    color: #212121;
    
  }
  .new-square .border-inner-contener {
    width: calc(100% - 1.5vw); /* Taille légèrement plus petite que le parent */
    height: calc(90% - 2vh); /* Taille légèrement plus petite que le parent */
    border: 0.5vw solid #C0C0C0;
    background-color: #212121;
    position: absolute; /* Permet de positionner cet élément indépendamment */
    top: 55%; /* Centre verticalement */
    left: 50%; /* Centre horizontalement */
    transform: translate(-50%, -50%); /* Assure le centrage parfait */
    justify-content: center;
    align-items: center;
    overflow: hidden;     
    z-index: 1; /* Assure que cette div est en dessous des autres enfants, si nécessaire */
    box-shadow: 
        inset 1px 1px  0px rgba(0, 0, 0, 1),
        -1px -1px 0px rgb(255, 255, 255),
        1px 1px 0px rgb(0, 0, 0);
  }

  #inner-application1{
    background-color: #212121;
  }
  
.border-inner-contener .inner_contener{
    
    
        width: calc(100% - 1.5vw); /* Taille légèrement plus petite que le parent */
        height: calc(100% - 1vh); /* Taille légèrement plus petite que le parent */
        margin: 0.5vw ;
        justify-content: center;
        overflow: auto;     
        overflow-y: hidden;
    
        z-index: 1; /* Assure que cette div est en dessous des autres enfants, si nécessaire */
        align-items: center; /* Centre verticalement */
      
}

.scroll_bar {
    position: absolute; /* Position absolue dans le conteneur parent */
    top: 0; /* Commence en haut */
    right: 0; /* Alignée à droite */
    width: 10px; /* Largeur de la barre de défilement */
    height: 100%; /* Prend toute la hauteur du conteneur parent */
    background-color: #f0f0f0; /* Couleur de fond de la barre */
    margin: 0.2vw;
  }
  
  /* Curseur de la barre de défilement */
  .scroll_thumb {
    position: absolute; /* Position absolue à l'intérieur de la scrollbar */
    top: 0; /* Commence en haut */
    width: 100%; /* Occupe toute la largeur de la scrollbar */
    height: 50px; /* Hauteur initiale du curseur */
    background-color: #333; /* Couleur du curseur */
    border-radius: 0; /* Pas d'arrondi, style angulaire */
    cursor: pointer;
    padding: 10px;
  }

  .minus_button,
.full_screen_btn,
.close-btn {
    position: absolute;
    width: 0.7vw;
    height: 0.7vw;
    display: flex; /* Centre le contenu */
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 100px; /* Ajoute des coins arrondis */
    transition: background-color 0.3s ease; /* Transition pour hover */
}

.minus_button {
    background-color: green;
    right: 4vw;
    box-shadow: 
    
    inset 1px -1px 0.1px rgb(0, 0, 0);
}

.full_screen_btn {
    background-color: orange;
    right: 2.5vw;
    box-shadow: 
    
    inset 1px -1px 0.1px rgb(0, 0, 0);
    
}

.close-btn {
    background-color: red;
    right: 1vw;
    box-shadow: 
    
    inset 1px -1px 0.1px rgb(0, 0, 0);
}

.minus_button:hover {
    background-color: darkgreen;
}

.full_screen_btn:hover {
    background-color: darkorange;
}

.close-btn:hover {
    background-color: darkred;
}
  
.top_tab {
    position: absolute; /* Permet de le fixer par rapport à la div parente */
    
    
    left: 50%;
    transform: translate( -50%);
    padding: 0;
    width: 100%; /* Il prend presque toute la largeur de la div parente */
    height: 2.2vh; /* Sa hauteur est de 2.2% de la hauteur de la fenêtre (viewport height) */
    background-color: #000080; /* Couleur de fond */
    font-size: 0.6vw;
    align-items: center; /* Centre verticalement */
    display: flex;
    border-top-right-radius: 1vw;
    border-top-left-radius: 1vw;
    color: #ffffff;
    justify-content: center; /* Centre le contenu horizontalement */
    box-shadow: 
    

    inset 0px -1px 0px rgb(255, 255, 255),
    inset 0px 1px 1px #ffffff81;
}

#inner_application6 {
    display: flex;
   
    
    height: 100vh; /* Définit une hauteur explicite pour le parent */
  }
.application_name{
    left: 1vw;
    position: absolute;
    display: flex;
}
#inner-contener6 {
    display: flex;
    flex-direction: column; /* Permet d'empiler header et les deux autres divs */
    height: 100%; /* Prend toute la hauteur disponible */
    width: 100%; /* Prend toute la largeur disponible */
}


.truc{
    font-size: 1vw;
    position: relative;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0.2vw;
  }
  


.content {
    display: flex;
    flex-direction: row;
    height: 80%; /* Prend 80% de la hauteur totale */
    width: 100%; /* S'étend sur toute la largeur */
    
}

.header {
    position: relative;
    background-color: #C0C0C0; /* Couleur de la section header */
    height: 20%; /* Prend 20% de la hauteur totale */
    width: 100%; /* S'étend sur toute la largeur */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1%;
    box-shadow: 
    
    inset 1px 1px 0px rgba(0, 0, 0, 1),
    inset -1px -1px 0px rgb(255, 255, 255);
}

.nav_button {
    width: 3%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C0C0C0;
    color: #212121;
    cursor: pointer;
    transition: background 0.3s ease;
    font-size: 20%;
    box-shadow: 
    inset 1px 1px 0px rgba(0, 0, 0, 1),
    inset -1px -1px 0px rgba(255, 255, 255, 1);
}



#return_explorer{
    margin-left: 2%;
}


/* Barre de recherche */




input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    
}
.search_bar {
    color: #212121;
    background-color: #FFFFFF;
    font-family: 'Press Start 2P', sans-serif;
    
    border-width: 1px;
    caret-color: #212121;
    outline: none;
    
    width: 70%;
    height: 100%;
    
    font-size: 50%;
    
    box-shadow: 
        inset 1px 1px 0px rgba(0, 0, 0, 1),
        inset -1px -1px 0px rgba(255, 255, 255, 1);

    display: flex;
    align-items: center; /* Centre verticalement */
    padding: 0 5px; /* Ajoute un léger padding pour éviter que le texte touche les bords */
}

.search_bar .search_bar_text {
    flex-grow: 1; /* Prend tout l'espace disponible */
    white-space: nowrap; /* Empêche le texte de passer à la ligne */
    overflow: hidden; /* Cache le texte qui dépasse */
    text-overflow: ellipsis; /* Ajoute des "..." en cas de dépassement */
    
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Alignement à droite */
    
    font-size: 60%;
    color: #212121;
    direction: ltr; /* Permet d'afficher la fin du texte */
}

.row_explorer {
    width: 70%;
    height: 20%;
    display: flex;
    justify-content: flex-start;
    gap: 1%;

    position: absolute; /* Permet de le positionner par rapport au parent */
    bottom: 0; /* Le colle en bas */
    left: 0; /* Le colle à gauche */
    margin: 1%;
}



.inner_folders .folder {
    
    display: flex; 
    align-items: center; 
    justify-content: center; 
    flex-direction: column;
    width: 22%; /* La largeur du dossier */
    height: 30%; /* La hauteur du dossier */
    text-align: center; 
    border: 1px solid rgba(161, 161, 161, 0.473); 
    border-radius: 0px; 
    flex-shrink: 0; 
    cursor: pointer; /* Indique que c'est cliquable */
    
    
}

.inner_folders .folder img {
    height: 60%; /* L'image prend 70% de la hauteur de .folder */
    width: auto; /* La largeur s'ajuste automatiquement en gardant les proportions */
    margin: 5%; /* Espacement entre l'image et le texte */
    pointer-events: none;
}

.inner_folders .folder p {
    
    font-size: clamp(0.1vw, 0.6vw, 0.75vw);
    width: 80%;
    line-height: 1; /* Ajuste l'interligne pour bien centrer */
    text-align: center; /* Centre le texte dans sa zone */
    margin: 0; 
    
    overflow: hidden; /* Cache le texte si débordement */
    text-overflow: clip; /* Ajoute "..." si le texte est trop long */
    white-space: normal; /* Empêche de passer à la ligne */
    pointer-events: none;
    color: #212121;
}

/* Style des dossiers dans la liste */
.list_folder {
    background-color: #C0C0C0;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column; 
    padding: 10px; 
    overflow-y: hidden; 
    font-size: 0.5vw;
    column-gap: 2%;
    box-shadow: 
    inset 1px 0px 0px rgba(0, 0, 0, 1);
    color: #212121;
   
    
}



.list_folder_contener{
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; 
    padding: 0; 
    overflow-y: hidden; 
    font-size: 0.5vw;
    column-gap: 2%;
    box-shadow: 
    inset 1px 0px 0px rgba(0, 0, 0, 1);
    color: #212121;

}
/* Style des inner folders */
.inner_folders {
    background-color:#FFFFFF;; 
    
    width: 80%; 
    height: 100%; 
    display: flex; 
    flex-wrap: wrap; 
    align-items: flex-start; 
    justify-content: flex-start; 
    padding: 10px; 
    row-gap: 1vh; 
    column-gap: 1vw; 
    overflow-y: auto;
    box-shadow: 
    inset 1px 0px 0px rgba(0, 0, 0, 1),
    inset -1px -1px 0px rgba(255, 255, 255, 1);
}

.inner_folder{
    width: 100%;
    height: 100%;
    display: flex; 
    flex-direction: row;  
    gap: 0.1vw;
    
    flex-wrap: wrap; 
    align-items: flex-start; 
    justify-content: flex-start; 
}





.list_folder_contener  .folder {
    
    display: flex; /* Aligne le contenu interne */
    flex-direction: row;
    align-items: center; /* Centre verticalement l'image et le texte */
    justify-content: left; /* Centre horizontalement l'image et le texte */
    width: 99%; /* Largeur fixe pour chaque dossier */
    height: 10%; /* Hauteur fixe pour chaque dossier */
    text-align: center; /* Centre le texte */
    border-radius: 0px; /* Coins arrondis */
    flex-shrink: 0; /* Empêche la réduction automatique de la taille des dossiers */
    cursor: pointer;
    
}
  
.list_folder_contener .folder img {
    pointer-events: none;
    width: 15%; /* Taille de l'image ajustée pour correspondre au dossier */
    height: auto;
    margin: 5%; /* Espacement entre l'image et le texte */
}

.list_folder_contener .folder p {
    margin: 0; /* Supprime toute marge pour éviter des espaces inattendus */
    width: 60%; /* Ajustez selon vos besoins */
    flex-grow: 1; /* Permet au paragraphe de prendre l'espace restant */
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    pointer-events: none;
    font-size: 100%;
}

.footer_file_explorer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5%;
    background-color: #C0C0C0;
    display: flex;
    padding: 0;
    border-top: 1px solid #FFFFFF;
    align-items: center; /* Centre parfaitement les éléments en hauteur */
    justify-content: flex-end; /* Aligne les éléments à droite */
}

.folder_name {
    width: 40%;
    height: 100%; /* Laisse la hauteur s'adapter */
    background-color: #FFFFFF;
    display: flex;
    align-items: center; /* Assure l'alignement vertical du contenu */
    
    padding: 0;
    margin-top: 1%;
    font-size: 50%;
    color: #212121;
    box-shadow: 
        inset 1px 1px 0px rgba(0, 0, 0, 1),
        inset -1px -1px 0px rgba(255, 255, 255, 1);

}

.folder_name .folder_name_text {
    width: 40%;
    height: 80%; /* Laisse la hauteur s'adapter */
    display: flex;
    align-items: center; /* Centre verticalement le contenu */
    justify-content: flex-start; /* Aligne le contenu à droite */
    font-size: 70%;
    color: #212121;
    margin-left: 2%; /* Ajoute une marge à droite (ajuste la valeur selon le besoin) */
}

.row_explorer{
    width: 70%;
    height: 20%;
    display: flex;
    justify-content: flex-start;
}

details details {
    margin-left: 20px;
}

.space{
    height: 0.2%;
    width: 90%;
    background-color: #212121;
    margin: 1%;
    
    transform: translateX(5%);
}